<md-grid-list cols="2" rowHeight="550px">
		<md-grid-tile>

			<md-card class="dashboard-card">
				<a >
					<img md-card-image src="./assets/images/films.jpeg">
				</a>
				<md-card-content>
					<md-card-title>Список фильмов</md-card-title>
					<p>
					Cписок фильмов, которые вы бы хотели посмотреть на досуге.
					</p>
				</md-card-content>
				<md-card-actions>
					<button  md-button>Смотреть список</button>
				</md-card-actions>
				
			</md-card>

		</md-grid-tile>
	
</md-grid-list>