<md-toolbar>
  <button (click)="sidenav.toggle()" class="toolbar-button" md-mini-fab><md-icon>menu</md-icon></button>
  <div class="toolbar-button-row">
    <a md-button
      *ngFor="let topLink of links"
      [routerLink]="topLink.path"
      routerLinkActive="routerLinkActive">
      <md-icon>{{topLink.icon}}</md-icon> &nbsp; {{topLink.label}}
    </a>
  </div>
  <span class="page-title">Список фильмов</span>
</md-toolbar>



  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
