.app-content {
   margin: 50px auto; 
   max-width: 80%;
}
.film-card {
  width:100%;
  max-width: 100%;
  margin-bottom: 50px; 
}
.film-card img {
  display: inline-block;
  width: 200px;
}
.mat-card-content {
  display: inline-block;
  width: 80%;
}
.example-form {
    margin-bottom: 50px;
}