<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Название фильма" name="filmName" [(ngModel)]="filmName" (keyup.enter)="getFilms()">
  </md-input-container>
</form>

<md-grid-list cols="3" rowHeight="800px">
		
    <md-grid-tile *ngFor="let film of filmList">

		<md-card class="film-card">
			<img md-card-image src="{{film.Poster}}">
			<md-card-content>
				<md-card-title>{{film.Title}}</md-card-title>
				<p>Год: {{film.Year}}</p>
				<p>Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a wookiee and two droids to save the galaxy from the Empire's world-destroying battle-station.</p>
			</md-card-content>
			<md-card-actions>
				<button md-button>Подробнее</button>
			</md-card-actions>
		</md-card>

	</md-grid-tile>

</md-grid-list>